/* This is changing the color of the body element in my document */
body {
  --main-color: dimgrey;
}
/* This is changing the color of the h1 element in my document */
h1 {
  background-color: var(--main-color, #bbff00);
  color: snow;
  margin-left: 20px;
}
