:root {
  --main-bg-color:  orange;

/* This is changing the color of the body element in my document */
body {
  background-color: var(--main-bg-color, #555);
}

  h1 {
   color: rgb(0, 1, 0, 0);
  }

  h2 {
    color: hsla(0, 100%, 50%, 1);
  }

  h3 {
    color:  color(desplay-l3 0.5 0.2 0.1);
  }

  p {
    color: color-mix(insrgb, rgb(255, 0, 0) 50%, rgb(0, 0, 255) 50%);
  }
