:root {
  --main-bg-color:  grey;
}
/* This is changing the color of the body element in my document */
body {
  background-color: var(--main-bg-color, #555);
}
* {
  box-sizing: border-box;
}
h1 {
  font-family: "Jacquard 12 Charted", system-ui;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline wavy lightblue;
  color: rgb(0, 1, 0);
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

h2 {
  color: rgba(20, 196, 219, 1);
  padding-top: 0.21in;
  padding-right: 0.21in; 
  padding-bottom: 0.21in; 
  padding-left: 0.21in; 
}

h3 {
  color:  color(display-p3 0.5 0.2 0.1);
  text-align: left;
  padding: 1.25pc 1.25pc 1.25pc 1.25pc;
}

p {
  color: color-mix(in srgb, rgb(255, 0, 0) 50%, rgb(0, 0, 255) 50%);
  margin: 0rem;
}

.text {
  font-size: 1.5rem;
}

#audio {
  position: static;
  margin: .5vh;
  border-style: solid; 
  border-color: red;
  border-width: 2px;
  border-radius: 10px;
}

#video {
  position: fixed;
  height: 150px;
  width: 100%;
  max-width: 1200px;
  min-width: 600px;    
}
.centered {
  width: 50%;
  margin: 0 auto;
}

ol li {
  display: block;
}

ul > li {
  display: inline-block;
}

.button{
  color: transparent;
  &:hover {
    color: blue;
  }

}

summary:active {
  color: blue;
}

 div.ex1{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

div.ex2{
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  grid-gap: 5px;
}

.jacquard-12-charted-regular {
  font-family: "Jacquard 12 Charted", system-ui;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 600px) {
  body {
    background-color: grey;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  body {
    background-color: lightgrey;
  }
}

@media (min-width: 1025px) {
  body {
    background-color: gray;
  }
}
input [type="text"] {
  margin: 0 auto;
}
section ~ div {
  background-color: transparent; 
}

header + h3 {
  color: green;
}

ul:has(li) {
  background-color: red;
}

